<section class="slider" routerLink="/articol/1">
    <img src="https://via.placeholder.com/800x600" alt="slider">
    <article>
        <p>5 min ago</p>
        <h1>Lorem Ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quod ab unde quisquam id accusamus consequatur voluptate obcaecati maiores reprehenderit aspernatur nisi commodi eos nemo, provident quam, sed architecto dolorum molestiae odit eligendi? Iusto voluptatum at officia, alias repellat possimus et cupiditate ipsum ipsa. Dignissimos deleniti ex sit animi dolore.</p>
    </article>
</section>
<section class="side">
    <article class="article">

    </article>
    <article class="article">

    </article>
    <article class="article">

    </article>
    <article class="article">

    </article>
</section>